* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Arial Black", sans-serif;
}

body {
  color: #eee3ee;
  background-color: #251f25;
  /*   display: flex;
  height: 100vh;
  justify-content: center; */
}

#container,
form {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  flex-direction: column;
}

#container > h1 {
  font-size: 3em;
}

#timer p {
  display: flex;
  flex-direction: column;
  margin: 0 0.2em;
  align-items: center;
}

form label {
  margin-bottom: 0.25em;
  font-size: 2rem;
}

#timer p,
#timer span {
  user-select: none;
}

#timer span {
  font-size: 4rem;
  position: relative;
  top: 0.1em;
}

#timer input[type="text"]:disabled {
  font-size: 4rem;
  width: 160px;
  height: 160px;
  color: #f8b8f8;
  background-color: #704f70;
  text-align: center;
  border: 3px outset #7720b0;
  box-shadow: inset 0px 0px 25px #332231;
}

#buttons input[type="button"] {
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

#onglet-parametre > form {
  flex-direction: column;
}

.btn-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  font-size: 48px;
  background: rgb(192, 26, 111);
  background: linear-gradient(
    170deg,
    rgba(192, 26, 111, 1) 0%,
    rgba(119, 32, 176, 1) 100%
  );
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 0.55rem;
}

.btn-active {
  background: rgb(128, 177, 14) !important;
  background: linear-gradient(
    170deg,
    rgba(128, 177, 14, 1) 0%,
    rgba(38, 134, 173, 1) 100%
  ) !important;
}

@media screen and (max-width: 550px) {
  #container {
    transform: scale(0.7);
  }
}
